<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="landing flex">
        <div class="text-container">
            <div class="Header">CryptX</div>
            <div class="lorem"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore debitis, rerum est eaque qui sint assumenda esse ipsum quibusdam. Inventore ad sit nesciunt voluptates autem dicta aperiam iusto tempora neque. </div>
            <div class="buttons">
                <button class="button button1">Register</button>
                <button class="button button2">login</button>
            </div>
        </div>
        <div class="image-container">

        </div>
    </div>
</body>
</html>