<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .land {
            background-color: #1a283d;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        *{
            box-sizing: border-box;
        }
        .form {
            width: 40vh;
            padding: 4vh 3vh;
            /* border: 1px solid #fff; */
            box-shadow: 0px 0px 45px 0px #161625;
        }
        button {
            padding: 1vh ;
            margin-top: 8vh;
            margin-bottom: 2vh;
            background-color: transparent;
            border: none;
            border: 1px solid #fff;
            padding: 2vh 0;
            color: #fff;
            /* opacity: 0.3; */
            width: 100%;
            margin: 8vh auto;
            margin-bottom: 4vh;
        }
        input{
            padding: 2vh 0.6vw;
        }
        p{
            font-size: 3rem;
            color: #fff;
            margin: 0;

        }
    </style>
</head>
<body>
    <body>
        <div class="land">
            <div class="form">
                <p>Login</p>
                <input type="text">
                <input type="password">
                <button>Submit</button>
            </div>    
        </div>
    </body>
    <script>
        // let obj;
        // let button = document.querySelector('.butt')
        // button.addEventListener('click', function(e){
        //     console.log('clicked')
        //     let input = document.querySelectorAll('input');
        //     let values = [...input].map(item => item.value)
        //     if(!values.includes('')){
        //         fetch('/login', {
        //             method : 'POST',
                    // headers: {
                    //     "Content-Type": "application/json"
                    // },
                    // body : JSON.stringify({email : values[0], password : values[1]})
        //         })
        //         .then(function(resp){
        //             // CONSOLE.LOG(resp)
        //             console.log(resp)
        //             if(resp.redirected){
        //                 window.location.href = resp.url;
        //             }
        //             // return resp.text()
        //         })
                
        //     }
        // })
        let input = document.querySelectorAll('input');

        let button = document.querySelector('button')
        button.addEventListener('click', buttonClick)
        function buttonClick(e){
            let email  = input[0].value;
            let password = input[1].value;
            if( email != '' && password != ''){
                fetch('/login', {
                    method : 'Post',
                    headers: {
                            "Content-Type": "application/json"
                    },
                    body : JSON.stringify({email, password}),
                    redirect : 'follow'
                })
                .then(function(resp){
                    console.log(resp)
                    if(resp.redirected){
                        window.location.href = resp.url;
                    }
                })

            }
        }
        
    </script>
</body>
</html>